*.log
nyra_packages/extension_group/
nyra_packages/extension/agora_rtc
nyra_packages/extension/azure_tts
nyra_packages/extension/agora_sess_ctrl
nyra_packages/extension/agora_rtm
nyra_packages/extension/py_init_extension_cpp
nyra_packages/system/agora_rtc_sdk
nyra_packages/system/azure_speech_sdk
nyra_packages/system/nlohmann_json
nyra_packages/system/nyra_runtime*
.ten
agoradns.dat
agorareport.dat
agorartmreport.dat
bin/
/BUILD.gn
.cache/
/compile_commands.json
core
crash_context_v1
.deps/
.DS_Store
/.gn
/.gnfiles
include/
interface/
lib/
/out/
*.pcm
.release
session_control.conf.agora
xdump_config
.vscode
*.pyc
*.pyc.*
/manifest.json
/manifest-lock.json
/property.json
